@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 96%;

    --card: 0 0% 6%;
    --card-foreground: 0 0% 96%;

    --popover: 0 0% 6%;
    --popover-foreground: 0 0% 96%;

    /* --primary: 120 100% 15%; */
    --primary-foreground: 0 0% 96%;

    --secondary: 0 0% 8%;
    --secondary-foreground: 0 0% 96%;

    --muted: 0 0% 8%;
    --muted-foreground: 0 0% 65%;

    --accent: 120 100% 12%;
    --accent-foreground: 0 0% 96%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 12%;
    --input: 0 0% 12%;
    --ring: 120 100% 15%;

    --radius: 0;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-['Montserrat'];
    background: #000000;
    overflow-x: hidden;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  /* .text-gradient {
    @apply bg-gradient-to-r from-white via-gray-300 to-green-400 bg-clip-text text-transparent;
  } */
  
  .section-content {
    position: relative;
    z-index: 10;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
